@model asp.Models.Pessoa;
@{
    ViewData["Title"] = "Calcula";
}

<h1>Calcula</h1>
@*<a></a>negrito*@
@*<br />quebra de linha*@
@*<div></div>  cria uma divisao*@
@*<button></button>cria botao*@
<p>@Model.Nome</p>
<p>@Model.Idade</p>
<p>@Model.Cpf</p>

<div>
    <p>@ViewBag.Nome</p>
    <p>@ViewBag.Idade</p>
    <p>@ViewBag.Cpf</p>
    <p><a href="~/Home">volta começo</a></p>
    <p><a href="https://google.com">vai para o google</a></p>
    <br />
    <button type="button" onclick="alert('4')"><a>2+2</a></button>
    <br />
    <p>@DateTime.Now</p>
    <form action="~/Home/AuthCadastro" method="post">
        <fieldset>
            <label>Numero da conta</label>
            <input type="text" name="numeroConta" />
            <br />
            <label>Saldo</label>
            <input type="text" name="Saldo" />
            <br />
            <label> enviar</label>
            <input type="submit" value="enviar" />
        </fieldset>

    </form>


</div>